@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-rgb: 255, 255, 255;
  --primary-color: #00d1b2;
  --secondary-color: #95efe1;
}

body {
  color: rgb(var(--background-rgb));
  /* background: black; */
  /* background: radial-gradient(
    circle at top right,
    transparent,
    #00000031 15%,
    #00000071 30%,
    #000000ae 75%
  ); */
  background: radial-gradient(circle at top right, var(--primary-color), #00796b 15%, #004d40 30%, #000000 75%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  z-index: -4;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* 
.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url("../assets/landing_gradient.svg");
  background-position: center;
  animation: background-float 10s infinite ease-in-out;
}

@keyframes background-float {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(110%);
  }

  100% {
    transform: scale(100%);
  }
} */

.btn {
  @apply text-black rounded-xl pl-6 pr-4 py-3 bg-[var(--primary-color)] w-fit flex flex-row hover:opacity-80 active:opacity-60 transition-opacity duration-150;
}

.video-feed {
  @apply bg-gray-900 flex items-center justify-center rounded-lg overflow-hidden shadow-lg w-full h-full;
}

.controls button {
  @apply py-2 px-4 rounded-full text-white flex items-center justify-center;
}

.controls .bg-black {
  @apply hover:bg-gray-700;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none !important;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  overflow-y: scroll;
  /* Add the ability to scroll */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

button:active {
  outline: none;
}

.questions-background {
  background: radial-gradient(
    circle at top right,
    #00d1b2,
    #00796b 10%,
    #004d40 20%,
    #000000 45%
  );
}

.messages::-webkit-scrollbar {
  display: none;
}

.messages {
  overflow-y: scroll;
  /* Add the ability to scroll */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.start-button {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-10px);
  }
}
